
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <title>Document</title>
</head>
<body>
  
    <div>
    <h1>Add Product</h1>
    <input type="text" placeholder="Enter Product name" id="enterproductName"/><br/>
    <input type="text" placeholder="Enter price" id="enterPrice"/><br/>
    <input type="text" placeholder="Enter Description" id="enterDescription"/><br/>
    <input type="url" placeholder="Enter image url" id="enterImageurl"/><br/>
    <input type="number" placeholder="Enter Quality " id="enterQuality"/><br/>
    <input type="submit" value="ADD" id="addButton"/>
    </div>

</body>
</html>