<h1 id="header">FoodFox</h1>
<div id="signup_box">
    <h1 id="signup_heading">SignUp</h1>
        <input type="text" class="input_boxes" placeholder="Enter Email"><br> <br>
        <input type="text" class="input_boxes" placeholder="Enter Email"><br> <br>
        <input type="text" class="input_boxes" placeholder="Enter Username"><br> <br>
        <input type="text" class="input_boxes" placeholder="Enter Mobile Number"><br> <br>
        <input type="text" class="input_boxes" placeholder="Password"><br> <br>
        <input type="text" class="input_boxes" placeholder="Confirm Password"><br><br>
        <button id="signup_button">Signup</button>
        <h4 id="existing_user_prompt">Already a user? <a routerLink="/login" id="login_link">Login</a></h4>  
</div>