
a{
    margin-right: -5rem;
    color:orange;
    font-weight: 300;
    text-shadow: 2px 2px 2px #000000;
}
#titles{
    background-color: orange;
    color: white;
    font-weight: 300;
}
td{
    align-content: center;
    font-weight: bolder;
    justify-content: space-evenly;
    
}

img{
    height: 100;
    width: 200 ;
}
.edit{
   height: 75;
    width:75;
}
.delete{
    height: 75;
    width:75;
}