<app-dashboard></app-dashboard>
<div id="signup_box" align="center">
    <h1 id="signup_heading">Add Product</h1>
        <input type="text" class="input_boxes" placeholder="Enter Product Name"><br> <br>
        <input type="text" class="input_boxes" placeholder="Enter Price"><br> <br>
        <input type="text" class="input_boxes" placeholder="Enter Description"><br> <br>
        <input type="text" class="input_boxes" placeholder="Enter Image Url"><br> <br>
        <input type="text" class="input_boxes" placeholder="Enter Quantity"><br> <br>
        <button id="signup_button">ADD</button>  
</div>